.navbar-logo {
  margin-right: auto;
  margin-left: 2em;
  padding: 0;
  height: 100px;
  z-index: 2;
}

.navigation a,
button {
  background-color: var(--primary-blue);
  color: white;
  font-size: 24px;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}

.navigation a {
  text-decoration: none;
}

.logged-in > span {
  font-weight: bold;
  font-size: 18px;
}

button {
  border: none;
}

.navigation a:hover,
button:hover {
  cursor: pointer;
  background-color: var(--primary-green);
  color: black;
}
